// Utilities Colors
//Colors
.text-link        { color: $link !important; }
.text-black       { color: $black !important; }
.text-grey        { color: $grey !important; }
.text-white       { color: $white !important; }
.text-light       { color: $light !important; }

//Background Colors
.bc-link          { background-color: $link !important; }
.bc-black         { background-color: $black !important; }
.bc-grey          { background-color: $grey !important; }